<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <section id="banner" class="style2">
        <div class="inner">
          <span class="image">
            <img src="{{ site.baseurl }}/assets/images/hero-bg.jpg" alt="">
          </span>
          <header class="major">
            <img src="{{ site.baseurl }}/assets/images/logo.svg" alt="">
          </header>
          <div class="date">
            <p>
              1 de Setembro de 2018
              Sala 261, CCN - UFPI <br>
              8:00 às 12:00
            </p>
          </div>
          </div>
        </div>
      </section>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>
