<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <section id="banner" class="style2">
        <div class="inner">
          <span class="image">
            <img src="{{ site.baseurl }}/assets/images/hero-bg.jpg" alt="">
          </span>
          <header class="major">
            <img src="{{ site.baseurl }}/assets/images/logo.png" alt="">
          </header>
          <div class="date">
            <p>Agosto, 2018</p>
          </div>
          </div>
        </div>
      </section>

      {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>
